* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat",sans-serif;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #F2F2FF;
}

body::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  color: #031634;
  text-decoration: none;
}

hr {
  width: 60%;
  margin: auto;
}

/*Navbar*/

nav {
  background-color: white;
  margin: auto;
  height: 75px;
  display: flex;
}

/*Nav Div 1 */

nav div:nth-child(1) {
  width: 40%;
  margin-left: 4vw;
  display: flex;
  align-items: center;
}

nav div:nth-child(1) h2 {
  position: absolute;
  z-index: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  color: #F0F0FF;
  opacity: 0.85;
}

nav div:nth-child(1) span {
  font-size: 36px;
}

nav div:nth-child(1) h1 {
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
  margin-left: 22px;
  margin-top: 25px;
}

/*Nav Div 2 */

nav div:nth-child(2) {
  width: 50%;
  display: grid;
  justify-content: right;
  align-items: center;
}

nav div:nth-child(2) h1 {
  margin-top: 5px;
  font-size: 30px;
  color: #031634;
}

nav div:nth-child(2) div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 10px;
}

nav button {
  background-color: white;
  border-radius: 10px;
  width: 85px;
  height: 27px;
}

nav div button h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

nav a:nth-child(1) button {
  border: solid 2px #031634;
}

nav a:nth-child(1) button:hover {
  border: solid 2px #031634;
  background-color: #031634;
  border: solid 2px #031634;
}

nav a:nth-child(2) button {
  margin: 0 0px 0 10px;
  background-color: #031634;
  border: solid 2px #031634;
}

nav a h2 {
  font-size: 16px;
}

nav a:nth-child(1):hover h2 {
  color: white;
  font-weight: 600;
}

nav a:nth-child(2) h2 {
  color: white;
  font-weight: 600;
}

/*Nav Div 3 */

nav div:nth-child(3) {
  width: 90px;
  display: grid;
  place-items: center;
  margin-right: 4vw;
}

nav div:nth-child(3) img {
  width: 80px;
  height: 80px;
}

/*Header Content*/

header div:nth-child(1) h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 79.4%;
  text-align: right;
  margin: auto;
}

header div:nth-child(1) h3:nth-child(1) {
  color: #000000B2;
  width: 70%;
  margin-top: 40px;
}

header div:nth-child(1) div .author-name {
  width: 55%;
}

header div:nth-child(1) div h3:nth-child(1) {
  width: 100%;
  height: 100%;
  margin-top: 0;

  font-weight: 500;
  color: #000000CC;

  display: flex;
  justify-content: flex-end;
  place-items: center;
}

header div:nth-child(1) div .author-img {
  width: 45%;
}

header div:nth-child(1) img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 15px;
  display: flex;
  place-items: center;
}

header div:nth-child(1) h1 {
  font-weight: bold;
  width: 60%;
  margin: 13px auto;
  font-size: 48px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.9);
}

/*Header Image*/

.header-img {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.header-img img {
  width: 700px;
}

/*Main Content*/

main {
  display: flex;
  margin-top: 60px;
}

aside {
  width: 19%;
  height: 30vh;
  margin: 40px 0;
  padding: 0 4%;
  position: sticky;
  top: 40px;
}

aside h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

aside div {
  display: flex;
}

aside div a {
  margin-right: 10px;
}

aside div img {
  margin: 18px;
  width: 35px;
  height: 35px;
}

aside div img:nth-child(1) {
  margin-left: 0;
}

/*Article Text*/

main div:nth-child(2) {
  width: 55%;
  margin-left: 5px;
}

main content h1 {
  font-weight: 700;
  font-size: 36px;
  opacity: 0.9;
  margin: 10px auto;
}

content p {
  text-align: justify;
}

main content p {
  font-weight: 500;
  font-size: 22px;
  margin: 20px auto;
  opacity: 0.8;
}

main content ul {
  margin: 20px 0 20px 30px;
}

main content li {
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  line-height: 130%;
  opacity: 0.8;
}

/*Article Images*/

main div figure {
  width: 90%;
  margin: auto;
  height: auto;
  margin-left: 0;
}

main content figure img {
  margin: 20px auto 10px auto;
  display: flex;
}

main content figure:nth-child(9) img {
  width: 550px;
  height: 690px;
}

main content figure:nth-child(11) img {
  width: 630px;
  height: 330px;
}

main div h4 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #575757;
}

/*Copy Link Section*/

section {
  margin: 40px 0;
}

section h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 600px;
  margin: 20px 0;
}

section div {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

section div figure {
  width: 45%;
  background-color: white;
  border-radius: 50px;
}

section div figure h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin: 10px auto;

  font-weight: 600;
  font-size: 19px;
  color: rgba(0, 0, 0,0.5);
}

section div button {
  display: flex;
  place-items: center;
  margin-left: 30px;
  padding-left: 10px;
  background-color: black;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

section div button img {
  width: 40px;
  border-radius: 80%;
}

/*More About Author Footer*/

#more-author {
  margin: 50px 0 40px 0;
}

#more-author h1 {
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  margin: 30px 0;
}

#more-author div {
  display: flex;
  justify-content: center;
}

#more-author figure {
  width: 22%;
  margin: 5px 50px 0 0;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 20px 20px 60px 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
}

#more-author figure:last-child {
  margin-right: 0;
}

#more-author figure a:nth-child(1) img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#more-author figure figcaption {
  width: 90%;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.tag {
  padding: 0 12px;
  margin: 0 8px;
  border-radius: 35px;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.tag:first-child {
  margin-left: 0;
}

.tag:last-child {
  margin-right: 0;
}

.food {
  background-color: #FEF44E;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.movies {
  background-color: #CB1939;
}

.science {
  background-color: #4AD7E0;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.technology {
  background-color: #333366;
}

.travel {
  background-color: #F245B3;
}

.business {
  background-color: #142035;
}

#more-author figure p {
  width: 85%;
  text-align: center;
  font-size: 24px;
  margin: 15px auto;
  color: black;
  font-weight: 600;
  line-height: 25px;
}

#more-author figure hr {
  border: none;
  border-top: 1.5px solid rgba(0, 0, 0, 0.52);
  margin-top: 20px;
}

#more-author figure h4 {
  margin-top: 2px;
  color: #5A5A5A;
  text-align: center;
  width: auto;
  font-size: 14px;
}

#more-author figure h4:hover {
  color: #031634;
  transition: 0.2s ease-in-out;
}

#more-author figure a:nth-child(5) img {
  width: 15px;
  height: 10px;
  margin-top: 15px;
  opacity: 0.8;
}

/*Newsletter*/

#newsletter {
  margin-top: 150px;
  width: auto;
  height: 350px;
  background-image: url("Assets/Images/newsletter.png");
  background-size: cover;
  display: flex;
}

#newsletter section {
  width: 70%;
}

#newsletter section h1 {
  font-weight: 500;
  font-size: 55px;
  color: #373737;
}

#newsletter section figure {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  width: 50vw;
  height: 70px;
  margin: auto;
  margin-top: 30px; 
}

#newsletter section figure input {
  width: 80%;
  height: 50%;
  margin-left: auto;
  border: none;
  font-size: 20px;
}

#newsletter section figure input:focus {
  outline: none;
}

#newsletter section figure input::placeholder { /*Chrome*/
  font-weight: 500;
  font-size: 22px;
  color: #7B7B7B;
}

#newsletter section figure input::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 500;
  font-size: 22px;
  color: #7B7B7B;
}

#newsletter section figure div {
  width: 20%;
  display: flex;
  place-items: center;
  background-color: #D6D6D6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#newsletter section figure img {
  width: 70%;
  height: 50%;
}

#newsletter img:nth-child(2) {
  margin: 35px 7vw 0 0;
  width: 370px;
  height: 90%;
}

/*Main footer start*/

#main {
  width: auto;
  height: 350px;
  background-color: #031634;
  z-index: 0;
}

#main figure:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 350px;
  background: linear-gradient(89.93deg, 
            rgba(0, 0, 0, 0.6) -0.11%, 
            rgba(0, 0, 0, 0) 73.08%);
  z-index: 1;
  mix-blend-mode: overlay;
}

#main a {
  color: white;
}

#main figure:nth-child(2) {
  height: 320px;
  display: flex;
}

#main figure:nth-child(2) div {
  height: 100%;
}

#main figure:nth-child(2) div:nth-child(1) {
  width: 50%;
  display: grid;
}

#main .branding-foo {
  display: flex;
}

#main figure:nth-child(2) div:nth-child(1) .branding-foo {
  margin: 25px 10px 65px 45px;
}

#main figure:nth-child(2) div:nth-child(1) .branding-foo img {
  width: 80px;
  height: 80px;
}

#main figure:nth-child(2) div:nth-child(1) .branding-foo h1 {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06);
  margin-left: 10px;
}

#main figure:nth-child(2) div:nth-child(1) .branding-foo h3 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.175em;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06);
  margin-left: 15px;
} 

#main figure:nth-child(2) .social-foo {
  width: 100%;
  height: 150px;
  margin: 20px 20px 20px 140px;
}

#main figure:nth-child(2) .social-foo h2 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06)
}

#main figure:nth-class(2) .social-foo span{
  display: flex;
}

#main figure:nth-child(2) div:nth-child(2) {
  display: grid;
  width: 25%;
}

#main figure:nth-child(2) .heading {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06);
  height: 70px;
  margin-top: 25px;
}

#main figure:nth-child(2) div:nth-child(2) ul {
  width: auto;
  height: 250px;
}

#main figure:nth-child(2) div:nth-child(2) ul li {
  list-style-type: none;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06);
  margin-bottom: 14px;
}

#main figure:nth-child(2) div:nth-child(2) ul li img {
  margin-right: 10px;
}

#main figure:nth-child(2) div:nth-child(3) {
  width: 20%;
  display: grid;
  margin-left: auto;
}

#main figure:nth-child(2) div:nth-child(3) ul {
  width: auto;
  height: 250px;
}

#main figure:nth-child(2) div:nth-child(3) ul li {
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 10px -11px 9px rgba(0, 0, 0, 0.06);
  list-style-type: none;
  margin-bottom: 14px;
}

#main p {
  height: 30px;
  color: white;
  z-index: 2;
  text-align: center;
}

@media screen and (max-width: 900px) {
  header div:nth-child(1) h3:nth-child(1) {
    width: 80%;
  }

  header div:nth-child(1) h1 {
    width: 70%;
  }

  aside {
    display: none;
  }

  main {
    justify-content: center;
  }

  main div:nth-child(2) {
    width: 75%;
    margin: auto;
  }

  content p {
    text-align: justify;
  }

  #more-author figure {
    width: 28%;
  }

  #newsletter {
    height: 250px;
  }

  #newsletter img:nth-child(2) {
    width: 280px;
    height: 86%;
  }

  #newsletter section h1 {
    font-size: 40px;
  }

  #newsletter section figure {
    height: 60px;
  }
}

@media screen and (max-width: 450px) {
  nav div:nth-child(1) h2 {
    font-size: 44px;
  }

  nav div:nth-child(1) h1 {
    font-size: 18px;
  }

  nav div:nth-child(1) span {
    font-size: 30px;
  }

  nav div:nth-child(1) {
    width: 50%;
  }

  nav div:nth-child(2) {
    display: none;
  }

  nav div:nth-child(3) {
    width: 50%;
    justify-content: flex-end;
    margin: auto;
  }

  nav div:nth-child(3) img {
    width: 70px;
    height: 70px;
  }

  header div:nth-child(1) h1 {
    font-size: 35px;
    width: 90%;
  }

  .header-img img {
    width: 98%;
  }

  header div:nth-child(1) h3 {
    font-size: 18px;
  }

  header div:nth-child(1) div .author-name {
    width: 62%;
  }

  main div:nth-child(2) {
    width: 90%;
  }

  content h1 {
    font-size: 32px;
  }

  main div figure {
    margin: auto;
    justify-content: center;
  }

  main content img {
    width: 95%;
  }

  main div h4 {
    width: 90%;
    margin: auto;
    font-size: 12px;
    font-weight: normal;
  }

  main content figure:nth-child(9) img {
    width: 90%;
  }

  main content figure:nth-child(11) img {
    width: 90%;
  }

  section h1 {
    font-size: 32px;
  }

  section div figure {
    width: 60%;
  }

  section div figure h2 {
    font-size: 15px;
  }

  section div button {
    font-size: 17px;
    margin-left: 15px;
  }

  section div button img {
    width: 30px;
  }

  #more-author div {
    display: grid;
    place-items: center;
  }

  #more-author h1 {
    font-size: 38px;
  }

  #more-author figure {
    width: 70%;
    border-radius: 10px;
    margin: 25px auto;
  }

  #more-author figure:last-child {
    margin: 15px auto;
  }

  #newsletter {
    height: 200px;
    margin-top: 100px;
  }

  #newsletter section {
    width: 95%;
    margin: auto;
  }

  #newsletter section h1 {
    font-size: 30px;
    margin: 0;
  }

  #newsletter section figure {
    height: 30px;
    width: 80%;
  }

  #newsletter section figure input {
    font-size: 18px;
    height: 100%;
  }

  #newsletter section figure input::placeholder {
    font-size: 18px;
  }

  #newsletter section figure div {
    width: 28px;
    height: 28px;
    margin-right: 3px;
  }

  #newsletter img:nth-child(2) {
    display: none;
  }

  #main {
    height: auto;
  }

  #main figure:nth-child(1) {
    height: 130%;
    background: linear-gradient(180deg, 
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
  }

  #main figure:nth-child(2) {
    display: grid;
    height: auto;
  }

  #main figure:nth-child(2) div:nth-child(1) {
    width: 100%;
  }

  #main figure:nth-child(2) div:nth-child(1) .branding-foo {
    width: auto;
    margin: 25px auto 55px 5%;
  }

  #main figure:nth-child(2) div:nth-child(1) .branding-foo img {
    width: 70px;
    height: 70px;
  }

  #main figure:nth-child(2) div:nth-child(1) .branding-foo h1 {
    font-size: 35px;
  }

  #main figure:nth-child(2) div:nth-child(1) .branding-foo h3 {
    font-size: 18px;
  }

  #main figure:nth-child(2) .social-foo {
    width: auto;
    margin: auto;
  }

  #main figure:nth-child(2) .social-foo h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  #main figure:nth-child(2) .social-foo img {
    margin: 10px 12px;
    width: 40px;
    height: 40px;
  }

  #main figure:nth-child(2) div:nth-child(2) {
    width: 100%;
  }

  #main figure:nth-child(2) div:nth-child(2) ul {
    margin: auto;
    height: 200px;
  }

  #main figure:nth-child(2) div:nth-child(3) {
    width: 100%;
  }

  #main figure:nth-child(2) .heading {
    text-align: center;
    height: 57px;
    font-size: 28px;
  }

  #main figure:nth-child(2) div:nth-child(3) ul {
    text-align: center;
  }

  #main p {
    font-size: 13px;
    width: 95%;
    height: 55px;
    margin: auto;
  }
}